<!------
  /------------------
// Big SVG hero Name
//-------------------
//
// If you want to change your name you will have to recreate it
// in Figma or any other way you can export text as SVG
// After you have exported it, you have to remove the size atributes from the SVG
// this will allow the SVG become full width and full heigh. It will also be responsive.
--- -->
<section class="bg-primary">
  <div
    class="px-8 2xl:max-w-7xl mx-auto pt-12"
    data-aos="fade-up"
    data-aos-duration="2000">
    <svg class="text-secondary" viewBox="0 0 0 0" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M105.202 384.351H0.479447L177.81 26.896H310.46L369.104 384.351H264.381L229.474 125.336H226.681L105.202 384.351ZM109.391 243.324H306.271L293.704 315.932H96.8246L109.391 243.324ZM385.268 384.351L429.95 116.26H523.503L515.125 167.225H517.918C525.946 148.375 536.011 134.586 548.113 125.859C560.214 117.132 573.421 112.769 587.733 112.769C591.922 112.769 595.936 113.118 599.776 113.816C603.732 114.398 607.63 115.212 611.47 116.26L597.507 198.642C592.969 196.896 587.326 195.675 580.577 194.976C573.828 194.162 567.836 193.755 562.599 193.755C553.291 193.755 544.564 195.907 536.419 200.213C528.39 204.402 521.525 210.336 515.823 218.016C510.238 225.579 506.514 234.48 504.653 244.72L481.614 384.351H385.268ZM579.418 384.351L624.1 116.26H715.558L707.18 167.225H709.973C718.234 150.469 729.928 137.204 745.055 127.43C760.181 117.656 777.112 112.769 795.845 112.769C814.579 112.769 829.939 117.772 841.924 127.779C853.909 137.67 859.959 150.818 860.076 167.225H862.868C870.082 150.818 881.893 137.67 898.299 127.779C914.706 117.772 932.916 112.769 952.93 112.769C978.413 112.769 997.786 121.03 1011.05 137.553C1024.43 154.076 1028.8 176.068 1024.14 203.529L994.121 384.351H897.776L924.306 227.964C925.935 216.212 924.306 207.02 919.419 200.387C914.532 193.638 907.085 190.264 897.078 190.264C887.187 190.264 878.809 193.638 871.944 200.387C865.195 207.02 861.006 216.212 859.377 227.964L832.848 384.351H740.691L767.221 227.964C768.85 216.212 767.221 207.02 762.334 200.387C757.447 193.638 750 190.264 739.993 190.264C733.477 190.264 727.543 191.777 722.19 194.802C716.954 197.827 712.591 202.191 709.1 207.892C705.726 213.478 703.457 220.168 702.293 227.964L675.763 384.351H579.418ZM1095.29 388.54C1078.3 388.54 1063.69 385.747 1051.48 380.162C1039.37 374.46 1030.53 365.85 1024.95 354.33C1019.48 342.694 1018.26 328.033 1021.28 310.346C1023.72 295.685 1028.32 283.177 1035.07 272.821C1041.82 262.465 1050.2 253.97 1060.2 247.338C1070.21 240.706 1081.44 235.644 1093.89 232.153C1106.46 228.546 1119.72 226.219 1133.68 225.172C1148.81 224.008 1161.09 222.554 1170.51 220.808C1179.94 219.063 1186.98 216.677 1191.63 213.652C1196.28 210.627 1199.08 206.554 1200.01 201.434V200.736C1201.06 193.755 1199.19 188.402 1194.42 184.679C1189.77 180.955 1183.25 179.093 1174.87 179.093C1165.8 179.093 1157.94 181.072 1151.31 185.028C1144.8 188.984 1140.32 195.151 1137.87 203.529H1049.21C1052.93 187.239 1060.55 172.228 1072.07 158.498C1083.71 144.651 1099.13 133.597 1118.32 125.336C1137.64 116.958 1160.68 112.769 1187.44 112.769C1206.52 112.769 1223.28 115.038 1237.71 119.576C1252.14 123.998 1264.06 130.223 1273.49 138.251C1283.03 146.164 1289.72 155.473 1293.56 166.178C1297.52 176.766 1298.45 188.286 1296.35 200.736L1265.63 384.351H1175.57L1181.86 346.65H1179.76C1172.78 356.657 1164.93 364.744 1156.2 370.911C1147.59 377.078 1138.16 381.558 1127.92 384.351C1117.8 387.143 1106.92 388.54 1095.29 388.54ZM1137.17 327.8C1144.39 327.8 1151.49 326.287 1158.47 323.262C1165.45 320.237 1171.44 315.873 1176.45 310.172C1181.45 304.47 1184.65 297.547 1186.05 289.402L1189.54 267.061C1186.98 268.108 1184.13 269.097 1180.98 270.028C1177.96 270.842 1174.76 271.657 1171.38 272.472C1168.13 273.286 1164.64 274.042 1160.91 274.74C1157.3 275.439 1153.58 276.137 1149.74 276.835C1142.06 277.999 1135.6 279.918 1130.37 282.595C1125.13 285.155 1121.06 288.354 1118.15 292.194C1115.24 295.918 1113.44 300.107 1112.74 304.761C1111.69 312.092 1113.38 317.793 1117.8 321.866C1122.34 325.822 1128.8 327.8 1137.17 327.8ZM1496.57 116.26L1484.7 186.075H1308.07L1319.94 116.26H1496.57ZM1364.62 52.0296H1460.96L1420.12 298.129C1419.54 301.852 1419.65 304.994 1420.47 307.554C1421.28 309.997 1422.91 311.859 1425.36 313.139C1427.92 314.303 1431.29 314.884 1435.48 314.884C1438.27 314.884 1441.7 314.535 1445.78 313.837C1449.85 313.023 1452.93 312.441 1455.03 312.092L1457.82 379.813C1452.93 381.209 1446.36 382.78 1438.1 384.525C1429.95 386.387 1420.47 387.609 1409.65 388.19C1387.07 389.238 1368.69 386.852 1354.49 381.034C1340.41 375.216 1330.64 366.14 1325.17 353.806C1319.82 341.356 1318.89 325.822 1322.38 307.205L1364.62 52.0296ZM1664.93 267.061L1690.06 116.26H1786.41L1741.73 384.351H1650.27L1658.65 333.385H1655.85C1647.59 350.49 1635.26 363.871 1618.85 373.529C1602.56 383.071 1584.41 387.841 1564.4 387.841C1545.66 387.841 1530.01 383.536 1517.44 374.926C1504.88 366.315 1495.98 354.446 1490.74 339.32C1485.5 324.193 1484.46 306.856 1487.6 287.307L1516.22 116.26H1612.57L1587.43 267.061C1585.46 280.326 1587.14 290.74 1592.5 298.303C1597.96 305.867 1606.75 309.648 1618.85 309.648C1626.88 309.648 1634.09 307.961 1640.49 304.587C1647.01 301.096 1652.36 296.209 1656.55 289.925C1660.86 283.526 1663.65 275.904 1664.93 267.061ZM2045.44 203.529H1958.87C1959.34 197.944 1958.35 193.173 1955.9 189.217C1953.46 185.26 1950.03 182.235 1945.61 180.141C1941.3 178.046 1936.41 176.999 1930.95 176.999C1921.4 176.999 1912.74 179.152 1904.94 183.457C1897.14 187.646 1892.78 193.173 1891.85 200.038C1891.27 202.714 1892.14 205.216 1894.47 207.543C1896.79 209.87 1902.9 212.023 1912.79 214.001L1965.85 223.775C1992.38 228.662 2011.7 237.564 2023.8 250.48C2036.02 263.279 2040.44 280.209 2037.06 301.27C2033.92 319.539 2025.89 335.247 2012.98 348.396C2000.06 361.544 1983.66 371.667 1963.76 378.765C1943.98 385.747 1922.1 389.238 1898.13 389.238C1855.89 389.238 1824.24 380.802 1803.18 363.93C1782.24 347.058 1772.7 325.008 1774.56 297.78H1868.11C1868.34 306.506 1871.25 313.081 1876.84 317.502C1882.54 321.808 1890.1 324.077 1899.53 324.309C1909.77 324.658 1918.73 322.622 1926.41 318.201C1934.09 313.663 1938.39 308.019 1939.32 301.27C1939.67 297.43 1937.98 294.522 1934.26 292.543C1930.65 290.565 1923.73 288.587 1913.49 286.609L1867.41 278.231C1840.88 273.461 1821.57 263.919 1809.47 249.607C1797.37 235.178 1793.18 216.794 1796.9 194.453C1799.93 176.65 1807.14 161.698 1818.54 149.597C1830.06 137.495 1845.19 128.361 1863.92 122.194C1882.66 115.911 1904.3 112.769 1928.85 112.769C1968.99 112.769 1999.36 120.856 2019.96 137.03C2040.67 153.087 2049.17 175.254 2045.44 203.529ZM2273.6 26.896L2214.26 384.351H2117.22L2176.56 26.896H2273.6ZM2364.16 233.549L2339.03 384.351H2242.68L2287.37 116.26H2378.82L2370.45 167.225H2373.24C2381.73 150.12 2394.13 136.797 2410.42 127.256C2426.82 117.598 2444.92 112.769 2464.7 112.769C2483.66 112.769 2499.43 117.074 2512 125.685C2524.56 134.295 2533.47 146.164 2538.7 161.291C2543.94 176.417 2544.87 193.755 2541.49 213.303L2512.87 384.351H2416.52L2441.66 233.549C2443.87 220.285 2442.24 209.87 2436.77 202.307C2431.42 194.744 2422.58 190.962 2410.24 190.962C2402.45 190.962 2395.29 192.707 2388.77 196.198C2382.37 199.573 2377.02 204.46 2372.72 210.859C2368.53 217.143 2365.68 224.706 2364.16 233.549ZM2636.77 387.841C2617.68 387.841 2600.93 382.838 2586.5 372.831C2572.19 362.824 2561.89 347.639 2555.61 327.277C2549.44 306.914 2548.92 281.257 2554.04 250.305C2559.39 217.957 2568.76 191.66 2582.14 171.414C2595.63 151.167 2611.11 136.332 2628.56 126.907C2646.13 117.481 2663.76 112.769 2681.45 112.769C2694.71 112.769 2705.94 115.096 2715.14 119.75C2724.44 124.288 2731.83 130.397 2737.3 138.077C2742.77 145.64 2746.49 153.96 2748.47 163.036H2749.87L2772.56 26.896H2868.9L2809.56 384.351H2713.91L2721.24 340.367H2719.15C2713.91 349.443 2707.22 357.588 2699.08 364.802C2691.05 371.9 2681.8 377.544 2671.33 381.733C2660.85 385.805 2649.33 387.841 2636.77 387.841ZM2684.59 313.837C2693.43 313.837 2701.46 311.277 2708.68 306.157C2715.89 300.921 2722 293.591 2727 284.166C2732.01 274.624 2735.56 263.337 2737.65 250.305C2739.86 237.04 2740.04 225.695 2738.17 216.27C2736.31 206.729 2732.59 199.456 2727 194.453C2721.54 189.333 2714.38 186.773 2705.54 186.773C2696.69 186.773 2688.72 189.333 2681.62 194.453C2674.53 199.456 2668.53 206.729 2663.65 216.27C2658.88 225.695 2655.39 237.04 2653.17 250.305C2650.96 263.57 2650.67 274.973 2652.3 284.515C2654.05 293.94 2657.65 301.212 2663.12 306.332C2668.59 311.335 2675.75 313.837 2684.59 313.837ZM3030.59 267.061L3055.72 116.26H3152.07L3107.39 384.351H3015.93L3024.31 333.385H3021.51C3013.25 350.49 3000.92 363.871 2984.51 373.529C2968.22 383.071 2950.07 387.841 2930.06 387.841C2911.32 387.841 2895.67 383.536 2883.1 374.926C2870.54 366.315 2861.64 354.446 2856.4 339.32C2851.16 324.193 2850.12 306.856 2853.26 287.307L2881.88 116.26H2978.23L2953.09 267.061C2951.12 280.326 2952.8 290.74 2958.16 298.303C2963.62 305.867 2972.41 309.648 2984.51 309.648C2992.54 309.648 2999.75 307.961 3006.15 304.587C3012.67 301.096 3018.02 296.209 3022.21 289.925C3026.52 283.526 3029.31 275.904 3030.59 267.061ZM3411.1 203.529H3324.53C3325 197.944 3324.01 193.173 3321.56 189.217C3319.12 185.26 3315.69 182.235 3311.27 180.141C3306.96 178.046 3302.07 176.999 3296.6 176.999C3287.06 176.999 3278.39 179.152 3270.6 183.457C3262.8 187.646 3258.44 193.173 3257.51 200.038C3256.93 202.714 3257.8 205.216 3260.13 207.543C3262.45 209.87 3268.56 212.023 3278.45 214.001L3331.51 223.775C3358.04 228.662 3377.36 237.564 3389.46 250.48C3401.68 263.279 3406.1 280.209 3402.72 301.27C3399.58 319.539 3391.55 335.247 3378.64 348.396C3365.72 361.544 3349.32 371.667 3329.42 378.765C3309.64 385.747 3287.76 389.238 3263.79 389.238C3221.55 389.238 3189.9 380.802 3168.84 363.93C3147.9 347.058 3138.36 325.008 3140.22 297.78H3233.77C3234 306.506 3236.91 313.081 3242.5 317.502C3248.2 321.808 3255.76 324.077 3265.19 324.309C3275.43 324.658 3284.39 322.622 3292.07 318.201C3299.75 313.663 3304.05 308.019 3304.98 301.27C3305.33 297.43 3303.64 294.522 3299.92 292.543C3296.31 290.565 3289.39 288.587 3279.15 286.609L3233.07 278.231C3206.54 273.461 3187.23 263.919 3175.13 249.607C3163.02 235.178 3158.84 216.794 3162.56 194.453C3165.58 176.65 3172.8 161.698 3184.2 149.597C3195.72 137.495 3210.85 128.361 3229.58 122.194C3248.32 115.911 3269.96 112.769 3294.51 112.769C3334.65 112.769 3365.02 120.856 3385.62 137.03C3406.33 153.087 3414.83 175.254 3411.1 203.529ZM3610.57 116.26L3598.71 186.075H3422.07L3433.94 116.26H3610.57ZM3478.62 52.0296H3574.97L3534.13 298.129C3533.55 301.852 3533.66 304.994 3534.48 307.554C3535.29 309.997 3536.92 311.859 3539.36 313.139C3541.92 314.303 3545.3 314.884 3549.49 314.884C3552.28 314.884 3555.71 314.535 3559.78 313.837C3563.86 313.023 3566.94 312.441 3569.03 312.092L3571.83 379.813C3566.94 381.209 3560.37 382.78 3552.1 384.525C3543.96 386.387 3534.48 387.609 3523.65 388.19C3501.08 389.238 3482.7 386.852 3468.5 381.034C3454.42 375.216 3444.65 366.14 3439.18 353.806C3433.83 341.356 3432.89 325.822 3436.39 307.205L3478.62 52.0296ZM3585.55 384.351L3630.23 116.26H3723.78L3715.4 167.225H3718.2C3726.23 148.375 3736.29 134.586 3748.39 125.859C3760.49 117.132 3773.7 112.769 3788.01 112.769C3792.2 112.769 3796.22 113.118 3800.06 113.816C3804.01 114.398 3807.91 115.212 3811.75 116.26L3797.79 198.642C3793.25 196.896 3787.61 195.675 3780.86 194.976C3774.11 194.162 3768.11 193.755 3762.88 193.755C3753.57 193.755 3744.84 195.907 3736.7 200.213C3728.67 204.402 3721.8 210.336 3716.1 218.016C3710.52 225.579 3706.79 234.48 3704.93 244.72L3681.89 384.351H3585.55ZM3779 384.351L3823.68 116.26H3920.03L3875.34 384.351H3779ZM3876.04 88.3335C3863.01 88.3335 3852.48 84.0283 3844.45 75.4177C3836.42 66.6908 3833.46 56.3348 3835.55 44.3499C3837.64 32.1322 3844.04 21.7762 3854.75 13.282C3865.45 4.67148 3877.32 0.366211 3890.35 0.366211C3903.5 0.366211 3913.98 4.67148 3921.77 13.282C3929.57 21.7762 3932.48 32.1322 3930.5 44.3499C3928.64 56.3348 3922.35 66.6908 3911.65 75.4177C3901.06 84.0283 3889.19 88.3335 3876.04 88.3335ZM4032.54 389.238C4003.91 389.238 3980.17 383.769 3961.32 372.831C3942.47 361.777 3929.21 345.952 3921.53 325.357C3913.85 304.645 3912.45 279.86 3917.34 251.003C3921.99 223.31 3931.59 199.107 3946.14 178.395C3960.8 157.683 3979.24 141.568 4001.47 130.048C4023.81 118.529 4048.83 112.769 4076.52 112.769C4096.77 112.769 4114.51 115.911 4129.75 122.194C4145.11 128.477 4157.62 137.612 4167.28 149.597C4176.94 161.581 4183.45 176.068 4186.83 193.057C4190.32 209.929 4190.32 229.011 4186.83 250.305L4183.34 272.646H3943.87L3952.25 219.586H4103.05C4104.21 211.907 4103.46 205.158 4100.78 199.34C4098.22 193.406 4094.09 188.809 4088.39 185.551C4082.8 182.177 4076.05 180.49 4068.14 180.49C4060.23 180.49 4052.78 182.177 4045.8 185.551C4038.93 188.926 4033.06 193.638 4028.17 199.689C4023.4 205.74 4020.2 212.838 4018.57 220.983L4008.1 276.835C4006.7 285.446 4007.23 293.125 4009.67 299.874C4012.11 306.623 4016.36 311.917 4022.41 315.757C4028.46 319.597 4036.26 321.517 4045.8 321.517C4052.32 321.517 4058.48 320.644 4064.3 318.899C4070.24 317.037 4075.47 314.361 4080.01 310.87C4084.66 307.263 4088.39 302.899 4091.18 297.78H4179.15C4172.86 316.397 4162.92 332.571 4149.3 346.301C4135.8 359.915 4119.16 370.504 4099.38 378.067C4079.72 385.514 4057.44 389.238 4032.54 389.238ZM4458.52 203.529H4371.94C4372.41 197.944 4371.42 193.173 4368.98 189.217C4366.53 185.26 4363.1 182.235 4358.68 180.141C4354.37 178.046 4349.49 176.999 4344.02 176.999C4334.48 176.999 4325.81 179.152 4318.01 183.457C4310.22 187.646 4305.85 193.173 4304.92 200.038C4304.34 202.714 4305.21 205.216 4307.54 207.543C4309.87 209.87 4315.98 212.023 4325.87 214.001L4378.93 223.775C4405.46 228.662 4424.77 237.564 4436.87 250.48C4449.09 263.279 4453.51 280.209 4450.14 301.27C4447 319.539 4438.97 335.247 4426.05 348.396C4413.14 361.544 4396.73 371.667 4376.83 378.765C4357.05 385.747 4335.17 389.238 4311.2 389.238C4268.97 389.238 4237.32 380.802 4216.26 363.93C4195.31 347.058 4185.77 325.008 4187.63 297.78H4281.18C4281.42 306.506 4284.33 313.081 4289.91 317.502C4295.61 321.808 4303.18 324.077 4312.6 324.309C4322.84 324.658 4331.8 322.622 4339.48 318.201C4347.16 313.663 4351.46 308.019 4352.4 301.27C4352.74 297.43 4351.06 294.522 4347.33 292.543C4343.73 290.565 4336.8 288.587 4326.56 286.609L4280.49 278.231C4253.96 273.461 4234.64 263.919 4222.54 249.607C4210.44 235.178 4206.25 216.794 4209.97 194.453C4213 176.65 4220.21 161.698 4231.62 149.597C4243.13 137.495 4258.26 128.361 4277 122.194C4295.73 115.911 4317.37 112.769 4341.92 112.769C4382.07 112.769 4412.44 120.856 4433.03 137.03C4453.74 153.087 4462.24 175.254 4458.52 203.529Z" fill="currentColor"/>
      </svg>
      
  </div>
  <div class="px-8 2xl:max-w-7xl mx-auto pb-12">
    <div class="mt-6 space-y-2">
      <div
        class="h-0.5 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="1000">
      </div>
      <div
        class="flex flex-col sm:flex-row gap-3 justify-between lg:items-center"
        data-aos="fade-up"
        data-aos-duration="1500">
        <div class="flex gap-3 items-center">
          <h3 class="text-secondary text-xs font-medium">
            <span>UI Designer</span>
            <span class="font-bold">Front end dev</span>
            <span class="italic">Freelancer</span>
          </h3>
          <span class="h-auto border-secondary border"></span>
          <span class="text-secondary text-xs font-semibold"
            >Available for work</span
          >
        </div>
        <div>
          <ul class="lg:items-center flex justify-between w-full gap-3 relative text-xs">
            <li>
              <a
                href="https://github.com/michael-andreuzza"
                class="hover:text-secondary/80 text-secondary"
                >GitHub</a
              >
            </li><li>
              <a
                href="https://dribbble.com/MichaelAndreuzza"
                class="hover:text-secondary/80 text-secondary"
                >Dribbble</svg
                ></a
              >
            </li><li>
              <a
                href="https://x.com/Mike_Andreuzza"
                class="hover:text-secondary/80 text-secondary"
                >X</a
              >
            </li><li>
              <a
                href="#_"
                class="hover:text-secondary/80 text-secondary"
                >Email</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div
        class="h-1.5 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="2000">
      </div>
      <div class="h-3 bg-secondary" data-aos="fade-up" data-aos-duration="2500">
      </div>
      <div class="h-6 bg-secondary" data-aos="fade-up" data-aos-duration="3000">
      </div>
      <div
        class="h-12 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="3000">
      </div>
      <div
        class="h-24 bg-secondary flex items-end p-4"
        data-aos="fade-up"
        data-aos-duration="3000"
        data-aos-delay="150">
      </div>
      <div class="flex w-full">
        <span class="text-xs font-medium text-secondary flex"
          >See more templates on &nbsp;<a
            class="hover:text-black duration-200 font-bold"
            href="https://lexingtonthemes.com/">Lexington Themes</a
          ></span
        >
        <span class="text-xs font-medium text-secondary flex ml-auto"
          >Get it on &nbsp;<a
            class="hover:text-black text-secondary duration-200 font-bold"
            href="https://github.com/michael-andreuzza/swissfolio">GitHub</a
          ></span
        >
      </div>
    </div>
  </div>
</section>
