<section class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto py-6">
    <div class="grid grid-cols-1 lg:grid-cols-4 text-secondary gap-6 text-lg">
      <p
        class="text-3xl leading-6 lg:col-span-3 lg:text-5xl lg:leading-9 indent-32 lg:indent-32"
        data-aos="fade-up"
        data-aos-duration="2000"
      >
        <b>|_Who We Are_|</b>
        <br /><br />
        We are a Cambridge-based company founded by three students passionate about 
        engineering, driven by a passion for innovation and problem-solving. Proudly British,
        we specialize in delivering cutting-edge solutions designed to make a real difference.
      </p>
      <p
        class="text-lg lg:col-start-2  leading-relaxed underline underline-offset-4"
        data-aos="fade-up"
        data-aos-duration="2500"
      > 
        <b>|_What We Do_|</b>
        <br /><br />
        We provide low-cost, scalable technology for defence, police, search and rescue, 
        and commercial applications. From mass-produced drones to custom-built systems, 
        we deliver adaptable solutions for tactical operations, surveillance, land management, 
        and beyond.
        
      </p>
      <p
        class="lg:col-start-4 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="2500"
      > 
        <b>|_Why We Do It_|</b>
        <br /><br />
        We believe technology should empower everyone. By prioritising innovation, 
        mass production on British soil, and affordability, we aim to make advanced technology 
        accessible while fostering the next generation of engineers.
      </p>
      <p
        class="lg:col-start-4 leading-relaxed "
        data-aos="fade-up"
        data-aos-duration="3000"
      >
        <b>|_Our Vision_|</b>
        <br /><br />
        To revolutionise industries with impactful, sustainable technology and inspire a future 
        where innovation leads to smarter, safer, and more resilient communities worldwide.
       
      </p>
      <p   class="text-3xl leading-6 lg:col-span-3 lg:text-7xl lg:leading-13 lg:col-start-2 lg:mt-48 indent-32 lg:indent-32"
      data-aos="fade-up"
      data-aos-duration="3000">
        change this theo to som idk.

      </p>
    </div>
  </div>
</section>
